html {
    height: 100%;
    margin: auto;
    min-width: 500px;
    max-width: 1920px;
}

body {
    margin: 0;
    color: #000000;
    font-size: 14px;
    min-height: 100%;
    line-height: 22px;
    font-weight: normal;
    background-color: #0e0e0e;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.max-width-container {
    margin: 0 auto;
    max-width: 1360px;
}

@media only screen and (max-width: 1400px) {
    .max-width-container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 100%;
    }
}

input::placeholder {
    font-size: 14px !important;
    color: #909090;
}

.big {
    font-size: 16px;
    font-weight: 400;
}

.regular {
    font-size: 14px;
    font-weight: 400;
}

.small {
    font-size: 12px;
    font-weight: 400;
}

.text-bold {
    font-weight: 600;
}

.fcol {
    display: flex;
    flex-direction: column;
}

.frow {
    display: flex;
    flex-direction: row;
}

.f-space-between {
    display: flex;
    justify-content: space-between;
}

.margin-t-5 {
    margin-top: 5px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-50 {
    margin-top: 50px;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-l-5 {
    margin-left: 5px;
}

.margin-l-10 {
    margin-left: 10px;
}

.margin-l-20 {
    margin-left: 20px;
}

.solid {
    color: #ffffff;
}

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-items {
    align-items: center;
}

.light-gray {
    color: #d7d7d7;
}

.play-btn {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 40px;

    &:hover {
        font-size: 45px;
    }
}

.off-white {
    color: #ebebeb;
}
